.canon-layout {
    /* A tube of content that with reasonable left and right margins */
    &.--tube {
        max-width: 100%;
        padding-left: $space/2;
        padding-right: $space/2;

        @include min-screen-width(sm) {
            padding-left: $space/2;
            padding-right: $space/2;
        }
        @include min-screen-width(md) {
            padding-left: $space;
            padding-right: $space;
        }
        @include min-screen-width(lg) {
            padding-left: $space*2;
            padding-right: $space*2;
        }
    }
    &.--readable {
        p, li {
            max-width: $reading-line-width;
        }
    }
    &.--centered {
        margin-left: auto;
        margin-right: auto;
    }
    &.--auto-flow {
        > * + * {
            margin-top: $space;
        }
    }
    &.--auto-flow-compact {
        line-height: 1.25;
        > * + * {
            margin-top: $space/2;
        }
    }
    &.--full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}