@import "../01_tools/functions.scss";

/* =======================================================================
     Typography & Spacing
========================================================================== */
$base-font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue',
    helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$heading-font-family: 'Baloo 2', $base-font-family;
$monospace-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$base-line-height: 1.5;
$base-font-size: 125%;
$space: $base-font-size/100% * $base-line-height * 1rem;
$reading-line-width: 35rem;

/* =======================================================================
     Colors
========================================================================== */

$colorOptions: (
    "white": hsl(320, 100%, 100%),
    "gray--0": hsl(320, 10%, 95%),
    "gray--1": hsl(320, 10%, 85%),
    "gray--2": hsl(320, 5%, 65%),
    "gray--3": hsl(320, 10%, 45%),
    "gray--4": hsl(320, 10%, 30%),
    "gray--5": hsl(320, 21%, 20%),
    "gray--6": hsl(320, 100%, 1%),
    "yellow--3": hsl(48, 100%, 50%),
    "orange--0": hsl(25, 100%, 70%),
    "orange--1": hsl(25, 90%, 50%),
    "orange--2": hsl(25, 100%, 42%),
    "orange--3": hsl(25, 100%, 30%),
    "red--0": hsl(1, 81%, 70%),
    "red--1": hsl(1, 61%, 55%),
    "red--2": hsl(1, 51%, 35%),
    "red--3": hsl(1, 51%, 25%),
    "red-alt--3": hsl(0, 66%, 35%),
);

$defaultThemeColors: (
    "text--dark": map-get($colorOptions, "gray--5"),
    "text--light": map-get($colorOptions, "white"),
    "bg--dark": map-get($colorOptions, "gray--5"),
    "bg--light": map-get($colorOptions, "white"),
    "border__control--light": map-get($colorOptions, "gray--3"),
    "focus-outline--light": map-get($colorOptions, "orange--2" ),
);


$colors: (
    "options": $colorOptions,
    "defaults": $defaultThemeColors
);

@function color($color) {
    @return deep-map-get($colors, $color);
};


html {
    //TODO: remove this and only expose functional color vars
    @each $name, $color in $colorOptions  {
        --#{$name}: #{$color};
    }
    @each $name, $color in $defaultThemeColors  {
        --#{$name}: #{$color};
    }
}
