/**
*
* Generate consistent font sizes and line heights
* @require $space
*
*/

/* Keep size of fonts consistent */
$type-scale: (
    7s: 0.7rem,
    7: 0.75rem,
    6: 0.875rem,
    5: 1rem,
    // body text
        4: 1.25rem,
    // large text, h4
        3: 1.75rem,
    // h3
        2: 2rem,
    // h2
        1: 2.5rem,
    // h1,
);

@function type-scale($level) {
    @return map-get($type-scale, $level);
}

/* Vertical rhythm */
/* 
We aren't trying to be 100% automatic, 
but synchronizing line-height with our standard spacing 
allows you to create a perfect vertical rhythm, if you feel like it. 
If you do nothing, it should look pretty good anyway.
*/
$line-heights: (
    7s: 1,
    7: $space * 0.75,
    6: $space,
    5: $space,
    4: $space * 2,
    3: $space * 2,
    2: $space * 2,
    1: $space * 2,
);

@function line-height($level) {
    @return map-get($line-heights, $level);
}
@function compact-line-height($level) {
    @return map-get($line-heights, $level);
}
@mixin type-setting($level: 0) {
    font-size: type-scale($level);
    line-height: line-height($level);
}
@mixin compact-type-setting($level: 0) {
    font-size: type-scale($level);
    line-height: compact-line-height($level);
}
